<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>동네히어로</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
<script src="../js/headerTemplate.js"></script>

<link rel="stylesheet" href="/css/list.css">
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
	<div id="headerBar"></div>
	
	<div id="content-wrap">
		<div id="body">			
			<div class="top">
				<button class="sort-button" @click="getPayDesc()">금액 높은순 보기</button>				
			</div>
			<table v-if="resData">
				<tr>
					<th>no.</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>분류</th>
					<th>제목</th>
					<th>금액</th>
					<th>상태</th>
				</tr>
				
				<tr class="tr-errand" v-for="(v, i) in errands">	
					<td>{{i+1}}</td>
					<td>{{v.writer}}</td>
					<td>{{v.createdAt}}</td>
					<td>{{v.category}}</td>
					<td> <a v-bind:href="urlPart1+v.errandId">{{v.title}}</a></td>
					<td style="text-align: center;">{{v.pay}}</td>
					<td v-if="v.errandStatus==0"><span style="background-color: rgb(228, 232, 236); padding:3px; border-radius:3px;">지원자 대기중</span></td>
					<td v-if="v.errandStatus==1"><span style="background-color:rgb(178, 222, 252); color:rgb(2, 64, 116); padding:3px; border-radius:3px;">매칭 대기중</span></td>
					<td v-if="v.errandStatus==2"><span style="background-color: rgb(192, 252, 180); color:rgb(3, 63, 1); padding:3px; border-radius:3px;">매칭완료</span></td>
					<td v-if="v.errandStatus==3"><span style="background-color: rgb(253, 219, 230); color:rgb(63, 1, 11); padding:3px; border-radius:3px;">심부름 완료</span></td>
				</tr>
			</table>
			<div class="bottom">
				<button class="new-button" onclick="location.href='registration.html'">심부름 등록하기</button>
			</div>
		</div>
	</div>	
	<script>

	new Vue({
        el:"#body",
        data : {
        	resData : false,
        	errands :[],
        	urlPart1 : "http://localhost:8088/getErrandDetail/",
        },
        created :function(){
        	axios({
                method : "get",
                url : "http://localhost:8088/errands"
            }).then( resData => {
            	this.resData=true;
                return this.errands = resData.data;
                
            }).catch(errorData => {
            	return console.log(errorData);
            })
        },
        methods :{
        	getPayDesc : function(){
        		axios({
                    method : "get",
                    url : "http://localhost:8088/payerrands"
                }).then( resData => {
                	this.resData=true;
                	return this.errands = resData.data;
                    
                }).catch(errorData => {
                	return console.log(errorData);
                })
        	},
        	cancel : function(){
        		axios({
        			method : "get",
        			url : "http://localhost:8088"
        		}).then( resData =>{
        			this.resData=false;
        		}).catch(errorData =>{
        			return console.log(errorData);
        		})
        	},
        }
        	
        	
    });
	</script>
</body>
</html>