<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>

	<div id="body">
		<a href="registration.html">심부름 요청하기</a> <br>
		<!-- <button @click="get()">errands 출력</button><br> -->
		<button @click="getPayDesc()">errands 내림차순 출력</button><br>
		<button @click="cancel()">접기</button><br>
		<button @click="session()">세션값 저장</button>
		<table v-if="resData">
			<tr>
				<th>no.</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>분류</th>
				<th>제목</th>
				<th>요청 위치</th>
				<th>요청 일시</th>
				<th>금액</th>
				<th>상태</th>
			</tr>
			
			<tr v-for="v in errands">	
				<td>{{v.errandId}}</td>
				<td>{{v.writer}}</td>
				<td>{{v.createdAt}}</td>
				<td>{{v.category}}</td>
			 	<td> <a v-bind:href="urlPart1+v.errandId">{{v.title}}</a></td>
				<td>{{v.reqlocation}}</td>
				<td>{{v.reqDate}}</td>
				<td>{{v.pay}}</td>
				<td v-if="v.errandStatus==0">지원자 대기중</td>
				<td v-if="v.errandStatus==1">수락 대기중</td>
				<td v-if="v.errandStatus==2">매칭완료</td>
				<td v-if="v.errandStatus==3">수행완료</td>
			</tr>
		</table>
	</div>
	
	<script>

	new Vue({
        el:"#body",
        data : {
        	resData : false,
        	errands :[],
        	urlPart1 : "http://localhost:8088/getErrandDetail/",
        },
        created :function(){
        	axios({
                method : "get",
                url : "http://localhost:8088/errands"
            }).then( resData => {
            	this.resData=true;
                return this.errands = resData.data;
                
            }).catch(errorData => {
            	return console.log(errorData);
            })
        },
        methods :{
        	getPayDesc : function(){
        		axios({
                    method : "get",
                    url : "http://localhost:8088/payerrands"
                }).then( resData => {
                	this.resData=true;
                	return this.errands = resData.data;
                    
                }).catch(errorData => {
                	return console.log(errorData);
                })
        	},
        	cancel : function(){
        		axios({
        			method : "get",
        			url : "http://localhost:8088"
        		}).then( resData =>{
        			this.resData=false;
        		}).catch(errorData =>{
        			return console.log(errorData);
        		})
        	},
        }
        	
        	
    });
	</script>
</body>
</html>