html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background: color:black;
	font-family: 'MaruBuri-Bold';
}

#header {
	padding-top: 100px;
	padding-bottom: 0px;
	text-align: center;
}

#wrapper {
	position: relative;
	height: 100%;
}

#content {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 400px;
}

/**
* 입력폼
*/
input:focus {
	outline: none;
}

h3 {
	color: #545454;
	margin: 20px 0px 5px 2px;
	font-size: 14px;
	font-weight: 700;
}

.box {
	display: block;
	width: 100%;
	height: 40px;
	border: solid 1px #dadada;
	border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
	padding: 5px 10px 5px 10px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
}

.box2 {
	display: block;
	width: 100%;
	height: 120px;
	border: solid 1px #dadada;
	border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
	padding: 5px 10px 5px 10px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
}

.int {
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
	border: none;
	background: #fff;
	font-size: 15px;
}

.textarea {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	border: none;
	background: #fff;
	font-size: 15px;
	resize: none;
}

.textarea:focus {
	outline: none;
}

.step_url {
	/*@naver.com*/
	position: absolute;
	top: 10px;
	right: 12px;
	font-size: 15px;
	color: #8e8e8e;
}

.pswdImg {
	width: 18px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 16px;
	margin-top: -10px;
	cursor: pointer;
}

#pay {
	display: table-cell;
	width: 147px;
}

#category {
	display: table-cell;
	width: 147px;
}

#bir_gender {
	display: table-cell;
	width: 147px;
	vertical-align: middle;
	padding-left: 10px;
}

select {
	width: 100%;
	height: 29px;
	font-size: 15px;
	background: #fff
		url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100%
		50% no-repeat;
	background-size: 20px 8px;
	-webkit-appearance: none;
	display: inline-block;
	text-align: start;
	border: none;
	cursor: default;
}

/**
* 에러메세지
*/
.error_next_box {
	margin-top: 9px;
	font-size: 12px;
	color: red;
	display: none;
}

#alertTxt {
	position: absolute;
	top: 12px;
	right: 38px;
	font-size: 12px;
	color: red;
	display: none;
}

/**
* 버튼
*/
.btn_area {
	margin: 30px 0 91px;
}

#btnJoin {
	width: 100%;
	padding: 16px 0 12px;
	border: 0;
	cursor: pointer;
	color: color: #696969;
	background-color: rgb(255, 196, 0);
	border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
	font-size: 20px;
	font-weight: 800;
	font-family: 'MaruBuri-Bold';
}