html {
	height: 100%;
	width: 100%;
	font-family: 'MaruBuri-Bold';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** 헤더 */
#header-wrap {
	width: 100%;
	background-color: black;
}

.header-container {
	width: 90%;
	min-width: 1400px;
	height: 100px;
	margin: 0 auto;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	
.header-container > .left {
	width: 30%;	
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-container > .middle {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-container > .right {
	width: 30%;	
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-button {
	border: 0;
	color: white;
	background-color: black;
	font-size: 25px;
	font-weight: 600;
	cursor: pointer;
	margin: 20px;
}

.header-logo {
	border: 0;
	color: rgb(255, 196, 0);
	background-color: black;
	font-size: 50px;
	font-weight: 600;
	cursor: pointer;	
	margin: 10px;
}

.pic-header-heroMan {
	height: 80px;
	width: auto;
}

.pic-header-heroWomen {
	height: 80px;
	width: auto;
}

/** 메인 */
#content-wrap {		
	margin-left: 100px;
	margin-right: 100px;
}

.side-container {
	float: left;
	width: 25%;
	height: 800px;	
	overflow: hidden;
}

.side-container > .side-title {
	margin: 30px 30px -10px 30px;	
	font-weight: 600;
	color: gray;
}

.side-content :hover {
	background-color: lightgray;
}

.errand{
	margin: 20px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 3px lightgray;
}

.errand > .title{
	font-size: 20px;
}
.content-container {
	float: right;
	width: 75%;
	height: 800px;
}

@media(max-width: 1200px){
	.side-container {
		display:none;
	}
	.content-container {
		width: 100%;
	}
}
	
}

/** 푸터 */
#footer-wrap {
	float: left;
	width: 100%;
	background-color: black;
}

a {
	text-decoration: none;
}
