
/** 메인 */
/* * {
	text-decoration: none;
	font-family: "배달의 민족 주아 보통" !important;
}

body {
	font-family: "배달의 민족 주아 보통" !important;
} */

#container-wrap {		
}

.side-container {
	float: left;
	width: 20%;
	height: 850px;
	overflow: hidden;
	margin: -20px 0px 0px 140px;
}

.side-container > .side-title {
	margin: 30px 30px 30px 30px;	
	font-weight: 800;
	color: #696969;
}

.side-title {
	text-align: center;
}

.side-content :hover {
	background-color: lightgray;
}

.errand{
	margin: 20px;
	padding: 15px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 3px 3px 4px lightgray;
}

.errand > .title{
	font-size: 20px;
}
.content-container {
	float: center;
	width: 92%;
	height: 850px;
	margin: 25px 0px 0px 10px;
}

.detailView {
	width: 30%;
    padding: 6px 0px 6px 0px;
    border: 0;
    cursor: pointer;
    color: #696969;
    background-color: rgb(255, 196, 0);
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    font-size: 13px;
    font-weight: 800;
}

.detailView:hover {
	background-color: rgb(255, 196, 0);
}

@media(max-width: 1200px){
	.side-container {
		display:none;
	}
	.content-container {
		width: 100%;
	}
}
	
}

/** 푸터 */
#footer-wrap {
	float: left;
	width: 100%;
	background-color: black;
}

a {
	text-decoration: none;
}
