
/** λ©”μΈ */
#container-wrap {		
	margin-left: 100px;
	margin-right: 100px;
}

.side-container {
	float: left;
	width: 25%;
	height: 800px;	
	overflow: hidden;
}

.side-container > .side-title {
	margin: 30px 30px -10px 30px;	
	font-weight: 600;
	color: gray;
}

.side-content :hover {
	background-color: lightgray;
}

.errand{
	margin: 20px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 3px lightgray;
}

.errand > .title{
	font-size: 20px;
}
.content-container {	
	float: right;
	width: 75%;
	height: 800px;
	position: relative;
}

.search-box {
	width: 400px;
	height: 50px;
	background-color: white;	
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
}

@media(max-width: 1200px){
	.side-container {
		display:none;
	}
	.content-container {
		width: 100%;
	}
}
	
}

/** ν‘Έν„° */
#footer-wrap {
	float: left;
	width: 100%;
	background-color: black;
}

a {
	text-decoration: none;
}
