/**
* 레이아웃 틀
*/
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: color:white;
    font-family: 'MaruBuri-Bold';
}

#logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}

#header {
    padding-top: 100px;
    padding-bottom: 0px;
    text-align: center;
}

#wrapper {
    position: relative;
    height: 100%;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
}



/**
* 입력폼
*/
input:focus {
    outline: none;
}

h3 {
	color: #545454;
    margin: 20px 0px 5px 2px;
    font-size: 14px;
    font-weight: 700;
}

.box {
    display: block;
    width: 100%;
    height: 40px;
    border: solid 1px #dadada;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    border: none;
    background: #fff;
    font-size: 15px;
}

input {
    font-family: 'MaruBuri-Bold';
}

.box.int_id {
    padding-right: 110px;
}

.box.int_pass {
    padding-right: 40px;
}

.box.int_pass_check {
    padding-right: 40px;
}

.step_url {
    /*@naver.com*/
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 15px;
    color: #8e8e8e;
}

.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

#bir_wrap {
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;
    width: 147px;
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
    padding-left: 10px;
}

#bir_dd {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
    padding-left: 10px;
}

#bir_gender {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
    padding-left: 10px;
}

#spe_wrap {
    display: table;
    width: 100%;
}

#specialty1 {
    display: table-cell;
    width: 147px;
}

#specialty2 {
    display: table-cell;
    width: 147px;
    padding-left: 10px;
}

#specialty3 {
    display: table-cell;
    width: 147px;
    padding-left: 10px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: 'MaruBuri-Bold';
}



/**
* 에러메세지
*/
.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}

#alertTxt {
    position: absolute;
    top: 12px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}



/**
* 버튼
*/
.btn_area {
    margin: 30px 0 91px;
}

#btnJoin {
    width: 100%;
    padding: 16px 0 12px;
    border: 0;
    cursor: pointer;
    color: #696969;
    background-color: rgb(255, 196, 0);
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    font-size: 20px;
    font-weight: 800;
}
