<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>동네히어로</title>
<!-- 지도 API include -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c2c65e47ff9efd53c90ebd6f14d04ecb&libraries=services,clusterer,drawing"></script>	
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 

<link rel="stylesheet" href="/css/index.css" />
</head>
<body>	
	<template id="header">
		<div class="header">	
			<div class="menu-logo">
				동네히어로
			</div>	
			<div class="menu-left">
				<a href="errandBoard/list.html">모든 심부름 보기</a>
				<a href="myerrands.html" v-if="logInCheck">내 심부름</a>
			</div>
			<div class="menu-right">
				<a href="joinmember.html" v-if="!logInCheck">회원가입</a>
				<a href="login.html" v-if="!logInCheck">로그인</a>				
				<a href="mypage.html" v-if="logInCheck">마이페이지</a>			
				<a href="logout" @click="logout()" v-if="logInCheck">로그아웃</a>
			</div>			
		</div>
	</template>
	

	<template id="container">
		<div class="container">	
			<div class="side">		
				<div class="errand" v-for="errand in allErrands">				
					<div class="title">{{errand.title}}</div>
					<div class="reqLoc">{{errand.reqLocation}}</div>
					<div class="help"><a href="#">도와줄게요</a></div>
				</div>	
			</div>			
			
			<div class="main">
				<div id="map" style="height:800px;"></div>					
			</div>
		</div>
	</template>
	

	<div id="app">
		<header-com></header-com>
		<container-com></container-com>					
	</div>
	
	
	<script>
		// header 컴포넌트
		Vue.component("header-com", {
			template: "#header",
			data: function(){
				return {
					logInCheck: sessionStorage.getItem("logInMember")==""
				}
			},
			methods:{
				logout : function(){
					sessionStorage.removeItem("logInMember");
				}
			}
		});		
		
		
		// container 컴포넌트
		Vue.component("container-com", {
			template: "#container",
			data: function(){
				return {
					allErrands: [],		
					errandLocations: []			
				}
			},			
			created: function(){				
				axios({
					method: "get",
					url: "http://localhost:8088/errands"		
				}).then(resData => {						      			
					this.allErrands = resData.data;   

					/*** 지도 생성하기 ***/
					var mapContainer = document.getElementById("map"); // 지도를 표시할 div 				
					var mapOption = { 
						center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
						level: 4 // 지도의 확대 레벨
					};				
					var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 표시할 div와 지도 옵션으로 지도를 생성

					if (navigator.geolocation) {					
						navigator.geolocation.getCurrentPosition(function(position) { // GeoLocation을 이용해서 현 접속 위치 가져오기				
							var lat = position.coords.latitude; // 위도
							var	lon = position.coords.longitude; // 경도						
							var locPosition = new kakao.maps.LatLng(lat, lon); 		

							map.setCenter(locPosition); // 지도 중심위치를 현 접속위치로 변경						
						});
					}					

					/*** 지도에 마커 표시 ***/				
					var geocoder = new kakao.maps.services.Geocoder(); // 주소-좌표 변환 객체를 생성
					
					for (var errand of this.allErrands){					
						console.log("for문 최상단 " + errand.title);
						// 심부름 주소를 좌표값으로 변환하기
						geocoder.addressSearch(errand.reqLocation, function(result, status) {	
							console.log("geocoder.addressSearch 함수내 " + errand.title);
							if (status === kakao.maps.services.Status.OK) { 	
								console.log("if블럭 내 " + errand.title);
								// 좌표로 변환된 위치
								var coords = new kakao.maps.LatLng(result[0].y, result[0].x);  
								var title = errand.title;		
							}

							// 결과값으로 받은 위치를 마커로 표시
							var marker = new kakao.maps.Marker({
								map: map,
								position: coords
							});		
							
							// 인포윈도우 생성
							var infowindow = new kakao.maps.InfoWindow({
								position : coords, 
								content : title
							});

							// 마커에 이벤트 등록
							kakao.maps.event.addListener(marker, 'mouseover', function(){  
								infowindow.open(map, marker);
							});
							kakao.maps.event.addListener(marker, 'mouseout', function(){
								infowindow.close();
							});
						});
					}
				}).catch(error => {
					console.log("error", error);
				});  				
			},
		});
		

		new Vue({
            el: "#app"            
        });
	</script>
	
</body>
</html>