<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
</head>
<body>
	<template id="form">
		<div>
			<h3>로그인</h3>
				<input type="text" v-model="email">
				<input type="password" v-model="password">
				<input type="submit" value="로그인" @click="login"><br>
				<div>비밀번호가 일치하지 않습니다.</div>
				<div>존재하지 않는 계정입니다.</div>
		</div>
	</template>

	<div id="app">
		<form-com></form-com>
	</div>
	

	<script>
		Vue.component("form-com", {
			template: "#form",
			data: function(){
				return {
					logInTry: "",
					logInMember: "",
					email: "gh@google.com",
					password: "222"
				}
			},
			methods: {				
				login: function(){					
					axios({
						method: "get",
						url: "http://localhost:8088/login",
						params: {
							email: this.email,
							password: this.password
						},
					}).then(resData => {		
						this.logInMember = resData.data;   				
						sessionStorage.setItem("logInMember", JSON.stringify(this.logInMember));
						document.location.href = '/';
					}).catch(error => {
						alert("비동기안됨");
						console.log("error", error);
					});  
				}
			}				
		});

		new Vue({
            el: "#app"            
        });
	</script>

</body>
</html>