<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<body>

<div id="app">
	<mycom></mycom>
</div>
	
	<template id="myerrand">
		<div>
		<button @click="getmyerrands()">내가 요청한 심부름 목록</button>
		<button @click="getmyapplies()">내가 지원한 심부름 목록(진행중인)</button>
			<table v-if="myReqBool">
				<tr>
					<th></th><th>No.</th><th>심부름 제목</th><th>상태</th>
				</tr>
				<tr v-for="v,index in myReq" v-if="v.errandStatus!=3">
					<td>취소</td>
					<td>{{index}}</td>
					<td v-for="k in errands" v-if="v.title==k.title"><a v-bind:href="urlPart1+k.errandId">{{v.title}}</a></td>
					<td v-if="v.errandStatus==0">지원자 대기중</td>
					<td v-if="v.errandStatus==1">매칭 대기중</td>
					<td v-if="v.errandStatus==2">취소됨</td>
				</tr>
			</table>

			<table v-if="myApplyBool">
				<tr>
					<th></th><th>No.</th><th>심부름 작성자</th><th>심부름 제목</th><th>상태</th>
				</tr>
				<tr v-for="v,index in myApply">
					<td>지원 취소</td>
					<td>{{index}}</td>
					<td>{{v.writer}}</td>
					<td v-for="k in errands" v-if="v.title==k.title"><a v-bind:href="urlPart1+k.errandId">{{v.title}}</a></td>
					<td v-if="v.matchStatus==0">수락 대기중</td>
					<td v-if="v.matchStatus==2">다른사람한테 매칭됨</td>
					<td v-if="v.matchStatus==3">취소됨</td>
				</tr>
			</table>
			<br><hr>
			<button @click="gotomain()">메인으로 이동</button>
		</div>
		
	</template>
	
<script>

	//현재 세션에 저장된 값 확인 component
	Vue.component("mycom",{
		template : "#myerrand",
		data : function(){
			return{				
				myReq:[],
				myReqBool : true,
				myApply : [],
				myApplyBool : false,
				errands : [],
				urlPart1 : "http://localhost:8088/getErrandDetail/"
			}
		},
		created : function(){
			// 상세페이지로 넘어가기
			axios({
				method: "get",
				url: "http://localhost:8088/myerrands/req?memberId="+JSON.parse(sessionStorage.getItem("logInMember")).memberId					
			}).then(resData => {
				this.myReq = resData.data; 
				
			}).catch(error => {
				console.log("error", error);
			});
			
			axios({
                method : "get",
                url : "http://localhost:8088/errands"
            }).then( resData => {
                this.errands = resData.data;
				
            }).catch(errorData => {
            	return console.log(errorData);
            });
		},
		methods: {
			getmyerrands : function(){
	    		axios({
	                method : "get",
	                url : "http://localhost:8088/myerrands/req?memberId="+JSON.parse(sessionStorage.getItem("logInMember")).memberId
	            }).then( resData => {
	            	this.myReqBool=true;
	            	this.myApplyBool=false;
	                return this.myReq = resData.data;
	            }).catch(errorData => {
	            	return console.log(errorData);
	            })
	    	},
	    	getmyapplies : function(){
	    		axios({
	                method : "get",
	                url : "http://localhost:8088/myerrands/apply?memberId="+JSON.parse(sessionStorage.getItem("logInMember")).memberId
	            }).then( resData => {
	            	this.myApplyBool=true;
	            	this.myReqBool=false;
	                this.myApply = resData.data;
					console.log(this.myApply[0]);
	            }).catch(errorData => {
	            	return console.log(errorData);
	            })
	    	},
	    	gotomain : function(){
	    		document.location.href="/";
	    	}
		}
	})

	
	new Vue({
		el:"#app"
	});
</script>
</body>
</html>