<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<body>
<div id="body">
	<button @click="getmyerrands()">현재 로그인된 사용자의 심부름목록 출력</button><br>
	<button @click="getmyapply()">현재 로그인된 사용자의 지원한 심부름 목록 출력</button>
	<button @click="cancel()">접기</button>
	<table v-if="resData">
		<tr>
			<th>errandId</th>
			<th>writer</th>
			<th>pay</th>
			<th>createdAt</th>
			<th>title</th>
			<th>content</th>
			<th>category</th>
			<th>reqLocation</th>
			<th>reqDate</th>
			<th>errandStatus</th>
		</tr>
		<tr v-for="v in myerrands">
			<td>{{v.errandId}}</td>
			<td>{{v.writer}}</td>
			<td>{{v.pay}}</td>
			<td>{{v.createdAt}}</td>
			<td>{{v.title}}</td>
			<td>{{v.content}}</td>
			<td>{{v.category}}</td>
			<td>{{v.reqLocation}}</td>
			<td>{{v.reqDate}}</td>
			<td>{{v.errandStatus}}</td>
		</tr>
	</table>
</div>
<div id="app">
	<mycom></mycom>
</div>
	
	<template id="myerrand">
		<div v-bind="logInMember">
			{{logInMember.memberId}}
		</div>
	</template>
<script>

	//현재 세션에 저장된 값 확인 component
	Vue.component("mycom",{
		template : "#myerrand",
		data : function(){
			return{
				logInMember:""
			}
		},
		created : function(){
			axios({
					method: "get",
					url: "http://localhost:8088/logincheck"		
				}).then(resData => {						      			
					this.logInMember = resData.data;   						
					sessionStorage.setItem("logInMember", JSON.stringify(this.logInMember));
				}).catch(error => {
					console.log("error", error);
				});  	
		}
	})
new Vue({
    el:"#body",
    data : {
    	resData : false,
    	myerrands :[]
    },
    methods :{
    	getmyerrands : function(){
    		axios({
                method : "get",
                url : "http://localhost:8088/myerrands"
            }).then( resData => {
            	this.resData=true;
                return this.myerrands = resData.data;
            }).catch(errorData => {
            	return console.log(errorData);
            })
    	},
    	cancel : function(){
    		axios({
    			method : "get",
    			url : "http://localhost:8088"
    		}).then( resData =>{
    			this.resData=false;
    		}).catch(errorData =>{
    			return console.log(errorData);
    		})
    	},
    	getmyapply : function(){
    		axios({
    			method : "get",
    			url : "http://localhost:8088/myapply"
    		}).then( resData =>{
    			this.resData=true;
    			return this.myerrands = resData.data;
    		}).catch(errorData =>{
    			return console.log(errorData);
    		})
    	},
    }
    	
    	
})
	
	new Vue({
		el:"#app"
	});
</script>
</body>
</html>