<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 지도 API include -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c2c65e47ff9efd53c90ebd6f14d04ecb&libraries=services,clusterer,drawing"></script>	
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
<script src="js/headerTemplate.js"></script>

<link rel="stylesheet" href="/css/mypage.css">
<link rel="stylesheet" href="/css/list.css">
</head>
<body>		
	<template id="mypage">
		<div id="main">	
			<div class="info-box">				
				<div class="top" v-bind="logInMember">
					<div class="my-info">
						<span>{{logInMember.nickname}}</span>
					</div>			
					<div class="req-cnt" v-bind="reqCnt">
						심부름 요청<br>
						{{reqCnt}}번
					</div>
					<div class="completion-cnt" v-bind="completionCnt">
						수행 완료<br>
						{{completionCnt}}번
					</div>
				</div>
				<div class="bottom">
					<a href="updatemember.html">회원정보 수정하기</a> <br>
					<a @click="confirmDelete" style="cursor:pointer;">삭제하기</a>
				</div>
			</div>

			<div class="list-box">
				<div class="menu-btn">
					<button class="list-btn1" @click="showReqList">요청 내역</button>
					<button class="list-btn2" @click="showCompletionList">수행 내역</button>
					<span v-if=confirm></span>
				</div>
				<table id="reqList"  v-if="show=='req'">
					<thead>
						<tr>
							<th>등록일</th><th>심부름 제목</th><th>분류</th><th>완료일</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="v in reqList">
							<td>{{v.createdAt}}</td><td>{{v.title}}</td><td>{{v.category}}</td><td>{{v.completedAt}}</td>
						</tr>
					</tbody>
				</table>

				<table id="completionList"  v-if="show=='completion'">
					<thead>
						<tr>
							<th>작성자</th><th>심부름 제목</th><th>분류</th><th>완료일</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="v in completionList">
							<td>{{v.writer}}</td><td>{{v.title}}</td><td>{{v.category}}</td><td>{{v.completedAt}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</template>
	
	<div id="headerBar"></div>
	<div id="app">
		<my-com></my-com>				
	</div>
	
	
	<script>
		Vue.component("my-com", {
			template: "#mypage",
			data: function(){
				return {
					logInMember: JSON.parse(sessionStorage.getItem("logInMember")),
					reqList: [],
					completionList: [],
					reqCnt: 0,
					completionCnt: 0,
					confirm: "",
					show: "req",
					btnColor: ""
				}
			},
			created : function(){				
				// 내 요청 내역 데이터 받아오는 비동기			
				axios({
					method: "get",
					url: "http://localhost:8088/mypage/req?memberId="+this.logInMember.memberId					
				}).then(resData => {									      			
					this.reqList = resData.data;  	
					this.reqCnt = resData.data.length;
				}).catch(error => {
					console.log("error", error);
				}); 	

				// 내 수행 내역 데이터 받아오는 비동기			
				axios({
					method: "get",
					url: "http://localhost:8088/mypage/completion?memberId="+this.logInMember.memberId					
				}).then(resData => {									      			
					this.completionList = resData.data;  
					this.completionCnt = resData.data.length;
				}).catch(error => {
					console.log("error", error);
				}); 				
			}, 
			methods: {
				deleteMember: function(){
					axios({
						method : "put",
						url : "http://localhost:8088/deleteMember/"+this.logInMember.memberId,
					}).then((res)=>{
						alert("탈퇴가 완료되었습니다.")
						window.location = "/index.html";
						sessionStorage.removeItem("logInMember");
					}).catch(errorData => {
						return console.log(errorData);
					});	
				},	
				confirmDelete: function(){
					this.confirm = confirm("동네히어로를 탈퇴하시겠습니까?");
				},
			}				
		});
				

		new Vue({
            el: "#app"            
        });

	</script>
	
</body>
</html>